[Desktop Entry]
Type=Application
Comment=A Navidrome/Subsonic audio player
Name=Aonsoku
Exec=aonsoku.sh
Icon=com.victoralvesf.Aonsoku
Categories=Audio;